.note {
    width: 200px;
    height: 200px;
    float: left;
    margin: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    background-color: #FEBE65;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
    .card-title {
      flex-shrink: 0;
    }
  
    .card-content {
      flex-grow: 1;
      overflow: auto;
    }
  
    .card-buttons {
      display: flex;
      justify-content: space-between;
    }
  }
  