<h1>Add a note </h1>
<form class="add-note-form">
    <mat-form-field>
        <div *ngIf="inputNoteTitle.invalid && (inputNoteTitle.dirty || inputNoteTitle.touched)" class="alert">          
            <div *ngIf="inputNoteTitle.errors?.required">
                Title must be entered.
            </div>
            <div *ngIf="inputNoteTitle.errors?.minlength">
                Title must be at least 2 characters long.
            </div>
        </div>
        <input
        matInput
        name="inputNote" [(ngModel)]='title' #inputNoteTitle="ngModel" required minlength="2"/>
    </mat-form-field>
    <mat-form-field>
        <div *ngIf="inputNoteDescription.invalid && (inputNoteDescription.dirty || inputNoteDescription.touched)" class="alert">          
            <div *ngIf="inputNoteDescription.errors?.required">
                Title must be entered.
            </div>
            <div *ngIf="inputNoteDescription.errors?.minlength">
                Title must be at least 6 characters long.
            </div>
        </div>
        <textarea 
            matInput  
            name="inputNote" [(ngModel)]='description' #inputNoteDescription="ngModel" required minlength="6">
        </textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selectedValue">
            <mat-option>Select one</mat-option>
            <span *ngFor="let category of categories">
                <mat-option value={{category}}>
                    {{ category }}
                </mat-option>
            </span>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="addNote()">Add</button>
</form>
  