<section>
    <mat-grid-list cols="2">
        <mat-grid-tile>
            <div>
                <h1>
                    BEFORE
                </h1>
                <p>
                    {{ lowerString }}
                </p>
                <p>
                    {{ upperString }}
                </p>
                <p>
                    PI
                </p>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div>
                <h1>
                    AFTER
                </h1>
                <p>
                    {{ lowerString | uppercase }}
                </p>
                <p>
                    {{ upperString | lowercase }}
                </p>
                <p>
                    {{ pi | number: '1.0-4' }}
                </p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div>
        <p>
            Displaying elements from even postitions
        </p>
        <div class="structuralDirectives">
            <div *ngFor="let item of stringArray; let i = index; let even = even">
                <div *ngIf="even">
                    {{ item }}
                    ({{ i }})
                </div>
            </div>
            <div *ngFor="let item of dateArray; let i = index; let even = even">
                <div *ngIf="even">
                    {{ item }}
                    ({{ i }})
                </div>
            </div>
        </div>
    </div>
</section>
