section {
    text-align: center;
    margin: 10vh 20vw 0;
    padding: 10vh 5vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    mat-grid-list {
        mat-grid-tile:first-child {
            border-right: 3px solid #0000002f;

        }
    }

    div:nth-child(2) {
        text-align: start;

        .structuralDirectives {
            // display: flex;

            div {
                white-space: pre-line;
            }
        }
    }
}