<h1>
  Who's the dumbest?
</h1>

<mat-grid-list cols="2">
  <mat-grid-tile>
    <app-extra-dumb></app-extra-dumb>
  </mat-grid-tile>
  <mat-grid-tile>
    <app-very-dumb></app-very-dumb>
  </mat-grid-tile>
</mat-grid-list>


<app-master-dumb></app-master-dumb>
