<app-filter (emitSearchedTerm)="receiveTerm($event)" (emitSelectedFilter)="receiveCategory($event)">
</app-filter>
<app-tools></app-tools>
<app-note [searchedTerm]="searchedTerm" [selectedCategoryId]="categoryId"></app-note>


