<div class="filter-container">
	<div *ngFor="let category of categories" class="filter-div">
        <button mat-raised-button color="primary" (click)="selectFilter(category.id)">{{category.name | uppercase}}</button>
    </div>
</div>
<form class="search-bar">
    <mat-form-field>
        <mat-label>
            Search by title
        </mat-label>
        <input 
            matInput
            name="searchBar" placeholder="Any note you want" [(ngModel)]="searchedTerm" (keydown)="getSearchedTerm()">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</form>