<section>
    <h3>
        change the color to the text below
    </h3>
    <h1 [style.color]="color">
        cameleon
    </h1>
    <mat-form-field>
        <input mat-input placeholder="what color should it be" [(ngModel)] = "color">
    </mat-form-field>
    <br/>
    <button mat-raised-button color="warn" (click)="buttonClick()">
        - what color -
    </button>
    <p>
        Input string: {{color}}
    </p>
</section>

