section {
    text-align: center;
    margin: 10vh 20vw 0;
    padding: 10vh 5vw;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

    button {
        margin-bottom: 4vh;
    }

    h1 {
        font-size: 4em;
    }

    h3, p {
        color: #0000004d;
    }
}