body {
    background-color: #FFF2CC;
    font-family: 'Poppins', sans-serif;
}

.mainPageContainer {
    display: grid;
    grid-template-columns: [col-0] 10% [col-1] 80% [col-2] 10% [col-3];
    grid-template-rows: [row-0] 20% [row-1] 80% [row-2];
    height: 100vh;
}

.mainPageTitle {
    grid-column: col-1 / col-2;
    grid-row: row-0 / row-1;
    text-align: center;
    /*padding: 10vh 0;*/
}

.mainPageBody {
    grid-column: col-1 / col-2;
    grid-row: row-1 / row-2;
}

.mainPageBody form {
    /*width: 50%;*/
}

.mainPageBody form > * {
    white-space: pre-line;
}

.mainPageBody form > *:nth-child(even) {
    margin-top: 1vh;
    margin-bottom: 5vh;
    width: 50%;
}
.mainPageBody form textarea {
    white-space: pre-line;
}

.mainPageBody form > *:last-child, .mainPageBody form > *:nth-last-child(2){
    width: 10%;
    margin-top: 5vh;
}

.mainPageTitle h1 {
    text-transform: uppercase;
}

.mainPageTitle p {
    padding-left: 10vw;
    margin-top: -2vh;

    font-size: 0.8em;
    color: #444444;
}
