body {
    background-color: #bdc3c7;
    h1 {
        color: #9b59b6;
    }
}

h2 {
    color: orange;
}

li {
    color: #2e77e6;
}

p {
    background-color: yellow;
}

input {
    border: 3px solid red;
}

.hello {
    background-color: white;
}

#special {
    border: 2px solid rgb(46, 119, 230);
    &::first-letter {
        color: green;
        font-size: 100px;
    }
}

div {
    p {
        font-size: 25px;
    }
    &:nth-of-type(3) {
        p {
            background-color: pink;
            &:nth-of-type(2) {
                border: 5px solid white;
            }
        }
        em {
            color: white;
        }
    }
}

input[type = 'text'] {
    background-color: gray;
}

input[type = "checkbox"] {
    &:checked {
        margin-left: 50px;
    }
}

label {
    text-transform: uppercase;
}

h1 {
    &:hover {
        color: blue;
    }
}

a {
    &:visited {
        color: gray;
    }
}
